body,
html {
    font-family: "Roboto", "Noto Sans KR", sans-serif;
    font-size: 14px;
    word-break: keep-all;
}

.container {
    max-width: 980px;
    padding-right: 0;
    padding-left: 0;
    margin-right: auto;
    margin-left: auto;
}

input {
    outline: 0;
}

.contents {
    position: relative;
    z-index: 500;
}

img {
    max-width: 100%;
}
